.section {
  width: 100%;
  position: relative;
  background-color: $color-primary-background;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  &.secondary {
    background-color: $color-secondary-background;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .4;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(239, 1, 124, 0.57) 100%);
  }
}
